body{
margin:0;
}

.nav{

}





#header{
  background-image: url(https://static.pexels.com/photos/503763/pexels-photo-503763.jpeg);
height: 100vh;
background-size: cover;
color: #d8d2e0;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 100px;
font-family: courier;
font-weight: normal;

}
