
body {
  margin:0;
}

ul {
  position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111214;
    width: 100%;
    z-index: 500;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: red;
}

/* summary (about me<a id="Linkedin" href="https://www.linkedin.com/in/zefu-li-23866b140/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" height="30" width="30"></a>)
Update your website from time to time
qualification
proficient
exposure
professional headshot
a several page for resume(Downloads)
what do you want to do in the tech indstry
github Linkedin professional twitter
what projects you want to work on, what do you want to accomplish
 */


.human{
  position: absolute;
  top: 20%;
  left: 35%;
}

/*
position of the icons need to be fixed, when resizing the webpage or the webpage gets smaller, the icons will change its positions
*/

.wifi{
  position: absolute;
  top: 32%;
  left: 57%;
  font-size: 90px;
  color: white;

}

.questionmark{
  position: absolute;
  top: 32%;
  right: 8%;
  font-size: 150px;
  color: white;
}

.exclamationmark{
  position: absolute;
  top: 32%;
  left:8%;
  font-size: 150px;
  color: white;
}



 .header{
   background-color: #33568e;
   background-size: cover;
   height: 100vh;
 }

#about{
  color: white;
  background-color: #111214;
  height: 50vh;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;

  text-align: center;
}


#blog{
  background-color: #222223;
color: white;
}

#contact{
  font-size: 50px;
  background-color: #ef2715;
}
/*
try to use javascript loop to display this text animation infinitely
*/
#text{

-webkit-animation-name: color;
-webkit-animation-duration:15s;
-webkit-animation-interation-count: 10;
-webkit-background-clip: text;
animation-fill-mode: both;
animation-delay: 0s;

display: inline-block;
line-height: 100px;
left: 0;
margin: auto;
margin-top: 20px;
position: absolute;
top: 14%;
width: 100%;
color: transparent;
text-align: center;
font-size: 100px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-weight: normal;

}
@keyframes color {
    0%   {background-color:#f71509; }
      1%   {background-color:#bc918f; }
        2%   {background-color:#ce251c; }
    3%  {background-color:#25ea6a; }
    4%  {background-color:#f142f4; }
    5%  {background-color:#f29f41; }
    6%  {background-color:#42d3f7; }
    7% {background-color:#b5ccf2; }
    8%   {background-color:#f71509; }
      9%   {background-color:#0459e2; }
        10%   {background-color:#0b1628; }
    11%  {background-color:#e8ae02; }
    12%  {background-color:#b5af9f; }
    13%  {background-color:#13dd64; }
    14%  {background-color:#cd13dd; }
    15% {background-color:#dd6813; }
    100%{background-color:white; }
}










#Linkedin{
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  text-align: center;
bottom: 1%;
left:50%;
}

#github{
    backface-visibility: hidden;
  display: block;
  bottom: 1%;
  left:54%;
  text-align: center;
}
