Body{
    background-color: #A9A9A9
}


h1{
  font-size: 300%
  background-color: #A9A9A9;
}

h2{
  font-size: 300%

}

h3{
  font-size:300%
}
p{
  font-family:  Georgia;

}

h4{
font-size: 100%
}

ul.a{

}
